.animated-admin-bg {
  background: linear-gradient(
    -45deg,
    #faf7f2,
    #f8f1df,
    #ecd9a3,
    #f4ead2,
    #fffdf8
  );

  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}